.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.form {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.form input {
    background-color: transparent;
    width: 80%;
    padding: 20px;
    border: none;
    outline: none;
    color: #bbb;
    border: 4px solid #bbb;
    font-size: 1.3rem;
    font-weight: 500;
}

.btn {
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    width: 20%;
    color: white;
    cursor: pointer;
}

.linkEl {
    font-size: 2rem;
}